doctype html 
html 
   head 
    title AK Dance Academy 
    block script 
    block style 
   body 
    
     nav#navbar
       ul 
          
        div#logo
            img(src="/static/logo.png")
            
         
        li #[a(href="/") Home]
        li #[a(href="/") About]
        li #[a(href="/") Services]
        li #[a(href="/") Class Info]
        li #[a(href="/") Contact Us]

   block content 
   block foot 
    #footer
        | Copyright © 2022 AnmolAcademy.com | All Rights Reserved