@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

h1 {
  text-align: center;
  margin: 12px 0px;
  font-family: "Righteous", cursive;
}

.myForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-family: "Righteous", cursive;
}

.myInput {
  width: 40%;
  padding: 9px;
  margin: 5px;
  border: 2px solid burlywood;
  border-radius: 8px;
  font-family: "Righteous", cursive;
}

.btn {
  padding: 10px 12px;
  font-size: 15px;
  border: 2px solid burlywood;
  border-radius: 10px;
  color: black;
  background: burlywood;
  font-family: "Righteous", cursive;
}

#footer {
  display: flex;
  color: white;
  height: 40px;
  background-color: black;
  font-size: 20px;
  text-align: center;
  justify-content: center;
  margin-top: 160px;
}
